
html, body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #9c8383);
    margin:0;
    padding: 0;
    height:100%;
    box-sizing: border-box;    
}
/* 
 * css basic done by 2024101074, usernotfound-101
 */